*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #ffff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    font-size: 150px;
    border-radius: 50%;
}
.choice:hover{
     cursor: pointer;
     background-color: #081b31;
}
.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, 
#comp-score{
    font-size: 4rem;
}
.msg-box{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #ffff;
    height: 5rem;
    
     font-size: 2rem;
     margin-top: 2rem;
     display: inline;
    padding: 1rem;
    border-radius: 1rem;
    }
@media(max-width: 496px){
   .choice{
    height: 5rem;
    width: 5rem;
    font-size: 5rem;
    border-radius: 50%;
}

.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

#msg{
    display: block;
    /* padding: 0; */
    margin-top: 2rem;
    font-size: 1.25rem;

}
.msg-box{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 1.2rem;
    font-weight: 400;
}
}